#pizzalist{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#pizzalist td, #pizzalist th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #pizzalist tr:nth-child(even){background-color: #f2f2f2;}
  
  #pizzalist tr:hover {background-color: #ddd;}
  
  #pizzalist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
    color: white;
  }